In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("middesk_refuel_POC_sample_with_dba_cleaned.csv")
for row in range(len(dataset)):
    # dataset.loc[row, "src_names"] = dataset.loc[row, "src_names"].strip("[").strip("]")
    # dataset.loc[row, "dst_names"] = dataset.loc[row, "dst_names"].strip("[").strip("]")

    # dataset.loc[row, "src_addresses"] = dataset.loc[row, "src_addresses"].strip("[").strip("]")
    # dataset.loc[row, "dst_addresses"] = dataset.loc[row, "dst_addresses"].strip("[").strip("]")

    # dataset.loc[row, "src_people"] = dataset.loc[row, "src_people"].strip("[").strip("]")
    # dataset.loc[row, "dst_people"] = dataset.loc[row, "dst_people"].strip("[").strip("]")

    dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
    dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
    dataset.loc[row, "label"] = "duplicate" if dataset.loc[row, "match"] else "not duplicate"

/tmp/ipykernel_46637/460687826.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: [MARK M. WILLIAMS, M.D., P.A.,WILLIAMS SHOULDER AND SPORTS MEDICINE] \n Addresses: [320 E 19TH ST, PANAMA CITY, FL 32405-4718] \n Company Type: UNKNOWN \n People (if any): [WILLIAMS MARK M.]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
/tmp/ipykernel_46637/460687826.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: [MARK M BENEDUM] \n Addresses: [] \n Company Type: UNKNOWN \n People (if any): []' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
/tmp/ipykernel_46637/460687826.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "label"] = "duplicate" if dataset.loc[row, "match"] else "not duplicate"

In [4]:
dataset = dataset[['entity1','entity2','label']]

In [5]:
dataset = dataset.sample(frac=1, ignore_index=True)
dataset.to_csv("test.csv", index=False)

In [6]:
dataset

,entity1,entity2,label
0,Names: [UNDER PRESSURE] \n Addresses: [20 WHIT...,Names: [Under Pressure LLC] \n Addresses: [355...,not duplicate
1,Names: [FUN BOY] \n Addresses: [953 N POWERLIN...,Names: [FUNBOY LLC] \n Addresses: [4111 E MADI...,not duplicate
2,Names: [VISUAL PLUS MARKETING] \n Addresses: [...,"Names: [DR. SAM HSU & ASSOCIATES, P.S,VISION P...",not duplicate
3,Names: [CUSTOM FIBERGLASS BOAT REPAIRS] \n Add...,"Names: [LAUDERDALE BOAT REPAIR, INC.] \n Addre...",not duplicate
4,Names: [YOUNG FLY BOSSES ENTERTAINMENT / YFB E...,"Names: [BOSS ENTERTAINMENT, LLC] \n Addresses:...",not duplicate
...,...,...,...
9995,"Names: [DECO WALK HOTEL & GOLF CLUB,MIAMI PART...","Names: [MIAMI PARTY, INC.] \n Addresses: [251 ...",not duplicate
9996,Names: [SANDY SHORES CLEANING] \n Addresses: [...,Names: [SHORES CLEANING SERVICE LLC] \n Addres...,not duplicate
9997,"Names: [4 MY FAMILY LLC,M.V. HOUSE OF STYLE] \...","Names: [MY FAMILY FIRST, LLC] \n Addresses: [1...",not duplicate
9998,"Names: [BLOOMFIELD INVESTMENTS LLC,EL MAR HOTE...","Names: [MARION HOTEL, INC.] \n Addresses: [160...",not duplicate
9999,"Names: [FLORIDA SOUTHERN INSURANCE,FLORIDA SOU...",Names: [FLORIDA SOUTHERN REALTY INVESTMENT TRU...,not duplicate

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x, y = train_test_split(dataset, train_size=100)

In [9]:
x.to_csv("seed.csv", index=False)
y.to_csv("test.csv", index=False)

In [21]:
dataset = pd.read_csv("middesk_refuel_POC_sample_with_dba_cleaned.csv")
all_predictions = pd.read_csv("all_predictions.csv")
label_map = {}

for i in range(len(all_predictions)):
    label_map[(all_predictions.loc[i]["entity1"], all_predictions.loc[i]["entity2"])] = (all_predictions.loc[i]["label"], all_predictions.loc[i]["CompanyEntityMatch_label"])

not_found = 0
for row in range(len(dataset)):
    entity1_rep = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
    entity2_rep = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
    try:
        curr_labels = label_map[(entity1_rep, entity2_rep)]
        dataset.loc[row, "middesk_label"] = curr_labels[0]
        dataset.loc[row, "refuel_label"] = curr_labels[1]
    except Exception as e:
        not_found += 1

dataset.to_csv("original_dataset_with_labels.csv", sep="\t", index=False)

/tmp/ipykernel_46637/151988280.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "middesk_label"] = curr_labels[0]
/tmp/ipykernel_46637/151988280.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "refuel_label"] = curr_labels[1]