In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("250_tricky.csv")
for row in range(len(dataset)):
    # dataset.loc[row, "src_names"] = dataset.loc[row, "src_names"].strip("[").strip("]")
    # dataset.loc[row, "dst_names"] = dataset.loc[row, "dst_names"].strip("[").strip("]")

    # dataset.loc[row, "src_addresses"] = dataset.loc[row, "src_addresses"].strip("[").strip("]")
    # dataset.loc[row, "dst_addresses"] = dataset.loc[row, "dst_addresses"].strip("[").strip("]")

    # dataset.loc[row, "src_people"] = dataset.loc[row, "src_people"].strip("[").strip("]")
    # dataset.loc[row, "dst_people"] = dataset.loc[row, "dst_people"].strip("[").strip("]")

    dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
    dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
    dataset.loc[row, "label"] = "not duplicate"

/tmp/ipykernel_159745/1120671854.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: [CARFINANCE CAPITAL LLC,CARFINANCE.COM] \n Addresses: [620 NEWPORT CENTER DR STE 1100, NEWPORT BEACH, CA 92660-8011] \n Company Type: LLC \n People (if any): []' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
/tmp/ipykernel_159745/1120671854.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: [CARFINANCE.COM LLC] \n Addresses: [15 W SOUTH TEMPLE STE 600, SALT LAKE CITY, UT 84101-1536,3 CHRISTY DR STE 201, CHADDS FORD, PA 19317-9670,7525 IRVINE CENTER DR STE 250, IRVINE, CA 92618-3070,9003 AIRPORT FWY STE G270, NORTH RICHLAND HILLS, TX 76180-7770] \n Company Type: LLC \n People (if any): [KENNETH J SICINSKI,LYNDON C HEWITT]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
/tmp/ipykernel_159745/1120671854.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "label"] = "not duplicate"

In [4]:
dataset = dataset[['entity1','entity2','label']]
# dataset = dataset[['entity1','entity2']]

In [5]:
dataset = dataset.sample(frac=1, ignore_index=True)
dataset.to_csv("test.csv", index=False)

In [6]:
dataset

,entity1,entity2,label
0,"Names: [EPATH DIGITAL, LP,EQUITYWISE] \n Addre...","Names: [EPATH DIGITAL, LP] \n Addresses: [2010...",not duplicate
1,"Names: [CENVEO WORLDWIDE LIMITED CORP.,NASHUA]...",Names: [NASHUA CORPORATION] \n Addresses: [] \...,not duplicate
2,"Names: [BJ'S WHOLESALE CLUB #174,BJ'S WHOLESAL...","Names: [BJ'S WHOLESALE CLUB, INC.] \n Addresse...",not duplicate
3,"Names: [GAP #1497,GAP INC] \n Addresses: [PO B...","Names: [GAP, INC.] \n Addresses: [17710 NW 10T...",not duplicate
4,"Names: [DELMAR FINANCIAL COMPANY,FIRST RATE MO...",Names: [DELMAR FINANCIAL COMPANY] \n Addresses...,not duplicate
...,...,...,...
245,"Names: [IT WORKS MARKETING, INC.,IT WORKS! GLO...","Names: [IT WORKS MARKETING, INC.] \n Addresses...",not duplicate
246,"Names: [BIOMATRIX SPECIALTY PHARMACY FL,FFP, L...","Names: [FFP, LLC] \n Addresses: [3300 CORPORAT...",not duplicate
247,"Names: [RED TARGET LLC,SCJ COMMERCIAL FINANCIA...",Names: [RED TARGET LLC] \n Addresses: [] \n Co...,not duplicate
248,"Names: [PHYSIOTHERAPY ASSOCIATES, INC.,SELECT ...","Names: [NOVACARE REHABILITATION,PHYSIOTHERAPY ...",not duplicate
249,"Names: [NORDSTROM EBAR,NORDSTROM, INC.] \n Add...","Names: [NORDSTROM INC,NORDSTROM INC & SUBSIDIA...",not duplicate

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x, y = train_test_split(dataset, train_size=100)

In [9]:
x.to_csv("seed.csv", index=False)
y.to_csv("test.csv", index=False)

In [10]:
dataset = pd.read_csv("250_tricky.csv")
all_predictions = pd.read_csv("all_predictions.csv")
label_map = {}

for i in range(len(all_predictions)):
    label_map[(all_predictions.loc[i]["entity1"], all_predictions.loc[i]["entity2"])] = (all_predictions.loc[i]["label"], all_predictions.loc[i]["CompanyEntityMatch_label"])

not_found = 0
for row in range(len(dataset)):
    entity1_rep = f'Names: {str(dataset.loc[row, "src_names"])} \\n Addresses: {str(dataset.loc[row, "src_addresses"])} \\n Company Type: {str(dataset.loc[row, "src_entity_type"])} \\n People (if any): {str(dataset.loc[row, "src_people"])}'
    entity2_rep = f'Names: {str(dataset.loc[row, "dst_names"])} \\n Addresses: {str(dataset.loc[row, "dst_addresses"])} \\n Company Type: {str(dataset.loc[row, "dst_entity_type"])} \\n People (if any): {str(dataset.loc[row, "dst_people"])}'
    try:
        curr_labels = label_map[(entity1_rep, entity2_rep)]
        # dataset.loc[row, "middesk_label"] = curr_labels[0]
        dataset.loc[row, "refuel_base_llm_label"] = curr_labels[1]
    except Exception as e:
        not_found += 1

dataset.to_csv("tricky_dataset_with_labels.csv", sep="\t", index=False)

/tmp/ipykernel_159745/49363054.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "refuel_base_llm_label"] = curr_labels[1]