In [21]:
import pandas as pd

In [22]:
dataset = pd.read_csv("middesk_refuel_POC_sample_1.csv")
for row in range(len(dataset)):
    dataset.loc[row, "src_names"] = dataset.loc[row, "src_names"].strip("[").strip("]")
    dataset.loc[row, "dst_names"] = dataset.loc[row, "dst_names"].strip("[").strip("]")

    dataset.loc[row, "src_addresses"] = dataset.loc[row, "src_addresses"].strip("[").strip("]")
    dataset.loc[row, "dst_addresses"] = dataset.loc[row, "dst_addresses"].strip("[").strip("]")

    dataset.loc[row, "src_people"] = dataset.loc[row, "src_people"].strip("[").strip("]")
    dataset.loc[row, "dst_people"] = dataset.loc[row, "dst_people"].strip("[").strip("]")

    dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} Addresses: {str(dataset.loc[row, "src_addresses"])} Company Type: {str(dataset.loc[row, "src_entity_type"])} Jurisdiction: {str(dataset.loc[row, "src_jurisdiction"])} People (if any): {str(dataset.loc[row, "src_people"])} Filing Date: {str(dataset.loc[row, "src_filing_date"])}'
    dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} Addresses: {str(dataset.loc[row, "dst_addresses"])} Company Type: {str(dataset.loc[row, "dst_entity_type"])} Jurisdiction: {str(dataset.loc[row, "dst_jurisdiction"])} People (if any): {str(dataset.loc[row, "dst_people"])} Filing Date: {str(dataset.loc[row, "dst_filing_date"])}'
    dataset.loc[row, "label"] = "duplicate" if dataset.loc[row, "match"] else "not duplicate"

/tmp/ipykernel_111743/2144522528.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: CORDWOOD TRAIL INVESTMENTS L.L.C. Addresses: 5785 PINE VIEW DR, YPSILANTI, MI 48197-8961 Company Type: LLC Jurisdiction: DOMESTIC People (if any):  Filing Date: 2021-05-17' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity1"] = f'Names: {str(dataset.loc[row, "src_names"])} Addresses: {str(dataset.loc[row, "src_addresses"])} Company Type: {str(dataset.loc[row, "src_entity_type"])} Jurisdiction: {str(dataset.loc[row, "src_jurisdiction"])} People (if any): {str(dataset.loc[row, "src_people"])} Filing Date: {str(dataset.loc[row, "src_filing_date"])}'
/tmp/ipykernel_111743/2144522528.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Names: TRAILS INVESTORS, LLC Addresses: 1 RIDGE CT, PLACITAS, NM 87043-9528 Company Type: LLC Jurisdiction: DOMESTIC People (if any): STEEN M GUDELJ Filing Date: 2003-09-24' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "entity2"] = f'Names: {str(dataset.loc[row, "dst_names"])} Addresses: {str(dataset.loc[row, "dst_addresses"])} Company Type: {str(dataset.loc[row, "dst_entity_type"])} Jurisdiction: {str(dataset.loc[row, "dst_jurisdiction"])} People (if any): {str(dataset.loc[row, "dst_people"])} Filing Date: {str(dataset.loc[row, "dst_filing_date"])}'
/tmp/ipykernel_111743/2144522528.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not duplicate' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset.loc[row, "label"] = "duplicate" if dataset.loc[row, "match"] else "not duplicate"

In [31]:
dataset = dataset[['entity1','entity2','label']]

In [32]:
dataset.to_csv("test.csv", index=False)

In [33]:
dataset

,entity1,entity2,label
0,Names: CORDWOOD TRAIL INVESTMENTS L.L.C. Addre...,"Names: TRAILS INVESTORS, LLC Addresses: 1 RIDG...",not duplicate
1,Names: H.O.A.M. LLC Addresses: 1221 RIVERWALK ...,Names: H. & A. INC. Addresses: 600 E BOULEVARD...,not duplicate
2,"Names: American College Planning, Inc. Address...",Names: AMERICAN MASONRY INC Addresses: 156 MET...,not duplicate
3,"Names: NATIONAL PARK PATHOLOGY, P.A. Addresses...","Names: NATIONAL BY-PRODUCTS, INC. Addresses: 4...",not duplicate
4,"Names: UNION MANAGEMENT SERVICES, INC. Address...","Names: Union Management Services, Inc. Address...",duplicate
...,...,...,...
4459,Names: SINCLAIR OIL CORPORATION Addresses: 500...,Names: SINCLAIR OIL CORPORATION Addresses: 33 ...,duplicate
4460,"Names: GLOBAL HUMAN CAPITAL CONSULTANTS, INC. ...",Names: GLOBAL HUMANITY LLC Addresses: 17350 ST...,not duplicate
4461,"Names: MT MEDICAL SUPPLY, L.L.C. Addresses: 34...","Names: MT Medical Properties Manager, LLC Addr...",not duplicate
4462,Names: GOLDEN MOUNTAIN MINISTRIES Addresses: 9...,Names: Golden Mountain Properties LLC Addresse...,not duplicate
4463,"Names: BIRD AND ASSOCIATES, INCORPORATED Addre...",Names: Bird and Associates Inc Addresses: 1135...,not duplicate

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x, y = train_test_split(dataset, train_size=100)

In [38]:
x.to_csv("seed.csv", index=False)
y.to_csv("test.csv", index=False)